*{
   margin:0px;
   padding:0px;
   
}

body {
       background-color :#D3D3D3;
       
       }

h1{ text-align:center; }

p.caja1 {
     wit:300px;
     height:20px;
     
      

      



       
